{% extends "base.html" %}
{% load hif_tags i18n %}

{% block body %}

    <div class="content-container">

        {% for language, words in data %} {# data is the generic name for incoming information coming from the view #}

            <div class="row-fluid">
                <div class="span12"><h2>{{ language }}</h2></div>
            </div>

            <div class="row-fluid">
                {% for word in words %}
                    <div class="{{ words|span }}">

                        <h3>{{ word.translation }}</h3>
                        {% for image in word.images %}
                            <p><a href="{{ image.link }}"><img src="{{ image.thumbnailLink }}"/></a></p>
                        {% endfor %}
                        {% for video in word.videos %}
                            <p><a target="_blank" href="http://www.youtube.com/watch?v={{ video.vid }}">
                                <img src="{{ video.thumbnail }}"/>
                            </a></p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block footer %}
    <p>{% trans "Search for a single word and see the canonical images for that word in Chinese, Russian and Portuguese." %}</p>
    {% include "components/search.html" %}
{% endblock %}
