{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Fako Berkers{% endblock %}</title>

    {% block css %}
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
        <link href="{% static "css/style.css" %}" rel="stylesheet" />
    {% endblock %}

    {% block head-js %}{% endblock %}

</head>

<body>
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}

    {% block body-js %}{% endblock %}
</body>

</html>