{% extends "core/base.html" %}
{% load i18n static %}

{% block theme-css %}
    <link href="{% static "visual_translations/css/knob.css" %}" rel="stylesheet"/>
    <link href="{% static "visual_translations/css/knob-extra.css" %}" rel="stylesheet"/>
{% endblock %}

{% block head-js %}
    {{ block.super }}
    <script src="{% static "visual_translations/js/knob.jquery.js" %}"></script>
{% endblock %}

{% block body-js %}
    <script src="{% static "visual_translations/js/controller.js" %}"></script>
{% endblock %}


{% block body %}

    <section id="main">
        <div id="bars">
            <div id="control"></div>
            {% for word in words %}
                <div class="knobLabel">{{ word }}</div>
            {% endfor %}
        </div>
    </section>

{% endblock %}