{% extends "core/base.html" %}
{% load i18n static %}

{% block theme-css %}
    <link href="{% static "visual_translations/css/knob.css" %}" rel="stylesheet"/>
    <link href="{% static "visual_translations/css/knob-extra.css" %}" rel="stylesheet"/>
{% endblock %}

{% block head-js %}
    {{ block.super }}
    <script src="{% static "visual_translations/js/knob.jquery.js" %}"></script>
{% endblock %}

{% block body-js %}
    <script src="{% static "visual_translations/js/controller.js" %}"></script>
{% endblock %}


{% block body %}

    <section id="main">
        <div id="bars">
            <div id="control"></div>
            {% for word in words %}
                <div class="knobLabel">{{ word }}</div>
            {% endfor %}
        </div>
        <div>
            <button id="broadcast">broadcast scroll</button>
        </div>
    </section>

<script>

    var ws = new WebSocket("{{ WEBSOCKET_URI }}visual-translations-map?subscribe-broadcast&publish-broadcast");
    ws.onopen = function() {
        console.log("websocket connected");
    };
    ws.onmessage = function(e) {
        console.log("Received: " + e.data);
    };
    ws.onerror = function(e) {
        console.error(e);
    };
    ws.onclose = function(e) {
        console.log("connection closed");
    };
    function send_message(msg) {
        ws.send(msg);
    }

    $(function(){
        $broadcast = $('#broadcast');
        $broadcast.on('mousedown', function(event){
            console.log("mouse down");
            send_message("top-left");
        });
        $broadcast.on('mouseup', function(event){
            console.log("mouse up");
            send_message("top-left");
        });
    })

</script>

{% endblock %}