{% extends "core/base.html" %}
{% load bootstrap_tags i18n static %}

{% block head-js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/ws4redis.js" %}"></script>
{% endblock %}

{% block theme-css %}
    <style>

        body {
            /*position: fixed;*/
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0;
            overflow: scroll;
        }

        .large .subunit.NLX { fill: url("#L_nl_NL"); }
        .large .subunit.DEU { fill: url("#L_de_DE"); }
        .large .subunit.ITX, .large .subunit.ITY, .large .subunit.ITD  { fill: url("#L_it_IT"); }
        .large .subunit.ESX, .large .subunit.ESI  { fill: url("#L_es_ES"); }
        .large .subunit.PRX { fill: url("#L_pt_PT"); }
        .large .subunit.HRV { fill: url("#L_hr_HR"); }
        .large .subunit.SVN { fill: url("#L_sl_SI"); }
        .large .subunit.CZE { fill: url("#L_cs_CZ"); }
        .large .subunit.POL { fill: url("#L_pl_PL"); }
        .large .subunit.HUN { fill: url("#L_hu_HU"); }
        .large .subunit.ROU { fill: url("#L_ro_RO"); }
        .large .subunit.BGR { fill: url("#L_bg_BG"); }
        .large .subunit.GRC { fill: url("#L_el_GR"); }
        .large .subunit.DNK { fill: url("#L_da_DK"); }
        .large .subunit.FIN { fill: url("#L_fi_FI"); }
        .large .subunit.EST { fill: url("#L_et_EE"); }
        .large .subunit.LVA { fill: url("#L_lv_LV"); }
        .large .subunit.LTU { fill: url("#L_lt_LT"); }
        .large .subunit.LUX { fill: url("#L_fr_LU"); }
        .large .subunit.FXX, .large .subunit.FXC { fill: url("#L_fr_FR"); }
        .large .subunit.AUT { fill: url("#L_de_AT"); }
        .large .subunit.CYP { fill: url("#L_el_CY"); }
        .large .subunit.BWR { fill: url("#L_fr_BE"); }  /* Wallonie */
        .large .subunit.BFR, .large .subunit.BCR { fill: url("#L_nl_BE"); } /* Vlaanderen + Brussel */
        .large .subunit.SWE { fill: url("#L_sv_SE"); }
        .large .subunit.ENG, .large .subunit.SCT, .large .subunit.WLS, .large .subunit.NIR { fill: url("#L_en_GB"); }
        .large .subunit.IRL { fill: url("#L_en_IR"); }
        .large .subunit.SVK { fill: url("#L_sk_SK"); }

        .subunit.NLX { fill: url("#S_nl_NL"); }
        .subunit.DEU { fill: url("#S_de_DE"); }
        .subunit.ITX, .subunit.ITY, .subunit.ITD  { fill: url("#S_it_IT"); }
        .subunit.ESX, .subunit.ESI  { fill: url("#S_es_ES"); }
        .subunit.PRX { fill: url("#S_pt_PT"); }
        .subunit.HRV { fill: url("#S_hr_HR"); }
        .subunit.SVN { fill: url("#S_sl_SI"); }
        .subunit.CZE { fill: url("#S_cs_CZ"); }
        .subunit.POL { fill: url("#S_pl_PL"); }
        .subunit.HUN { fill: url("#S_hu_HU"); }
        .subunit.ROU { fill: url("#S_ro_RO"); }
        .subunit.BGR { fill: url("#S_bg_BG"); }
        .subunit.GRC { fill: url("#S_el_GR"); }
        .subunit.DNK { fill: url("#S_da_DK"); }
        .subunit.FIN { fill: url("#S_fi_FI"); }
        .subunit.EST { fill: url("#S_et_EE"); }
        .subunit.LVA { fill: url("#S_lv_LV"); }
        .subunit.LTU { fill: url("#S_lt_LT"); }
        .subunit.LUX { fill: url("#S_fr_LU"); }
        .subunit.FXX, .subunit.FXC { fill: url("#S_fr_FR"); }
        .subunit.AUT { fill: url("#S_de_AT"); }
        .subunit.CYP { fill: url("#S_el_CY"); }
        .subunit.BWR { fill: url("#S_fr_BE"); }  /* Wallonie */
        .subunit.BFR, .subunit.BCR { fill: url("#S_nl_BE"); } /* Vlaanderen + Brussel */
        .subunit.SWE { fill: url("#S_sv_SE"); }
        .subunit.ENG, .subunit.SCT, .subunit.WLS, .subunit.NIR { fill: url("#S_en_GB"); }
        .subunit.IRL { fill: url("#S_en_IR"); }
        .subunit.SVK { fill: url("#S_sk_SK"); }

        .subunit-boundary {
            fill: none;
            stroke: #000;
            stroke-width: 2px;
            stroke-linejoin: round;
        }
        .outer-boundary {
            fill: none;
            stroke: #000;
            stroke-width: 2px;
            stroke-linejoin: round;
        }
        .large .subunit-boundary, .large .outer-boundary {
            stroke-width: 5px;
        }

        .subunit-boundary.ENG {
            stroke: none;
            fill: none;
        }

        #map {
            position: absolute;
            top: 0;
            left: 0;
            overflow: scroll !important;
        }

    </style>
{% endblock %}

{% block body-js %}
    <script>
        // GLOBAL INIT FOR VISUAL TRANSLATION RELATED JS
        window.VT = {};
        VT.functions = {
            getParameterByName: function (name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            },
            scrollDocument: function (command) {
                var $document = $(document);
                var scrollDelta = 20, top, left;
                switch(command) {
                    case "top-left":
                        top = $document.scrollTop();
                        left = $document.scrollLeft();
                        $document.scrollTop(top - scrollDelta);
                        $document.scrollLeft(left - scrollDelta);
                        break;
                    case "top":
                        top = $document.scrollTop();
                        $document.scrollTop(top - scrollDelta);
                        break;
                    case "top-right":
                        top = $document.scrollTop();
                        left = $document.scrollLeft();
                        $document.scrollTop(top - scrollDelta);
                        $document.scrollLeft(left + scrollDelta);
                        break;
                    case "left":
                        left = $document.scrollLeft();
                        $document.scrollLeft(left - scrollDelta);
                        break;
                    case "right":
                        left = $document.scrollLeft();
                        $document.scrollLeft(left + scrollDelta);
                        break;
                    case "bottom-left":
                        top = $document.scrollTop();
                        left = $document.scrollLeft();
                        $document.scrollTop(top + scrollDelta);
                        $document.scrollLeft(left - scrollDelta);
                        break;
                    case "bottom":
                        top = $document.scrollTop();
                        $document.scrollTop(top + scrollDelta);
                        break;
                    case "bottom-right":
                        top = $document.scrollTop();
                        left = $document.scrollLeft();
                        $document.scrollTop(top + scrollDelta);
                        $document.scrollLeft(left + scrollDelta);
                        break;
                    default:
                        throw "Invalid command to scroll document: " + command;
                }
            }
        };
        var wsEndpointURI = new URI("{{ WEBSOCKET_URI }}visual-translations-map?subscribe-broadcast&publish-broadcast");
        wsEndpointURI.hostname("192.168.255.16");

        VT.zoomLevel = VT.functions.getParameterByName("zoom");
        VT.webSocketEndpoint = wsEndpointURI.toString();
        VT.webSocketHeartbeat = {{ WS4REDIS_HEARTBEAT }};
        VT.topoJSONFile = "{% static region_topo_json %}";
    </script>
    <script src="{% static "visual_translations/js/d3.v3.min.js" %}"></script>
    <script src="{% static "visual_translations/js/topojson.min.js" %}"></script>
    <script src="{% static "visual_translations/js/map.js" %}"></script>
    <script src="{% static "visual_translations/js/socket.js" %}"></script>
{% endblock %}

{% block body %}
    <svg id="patterns" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            {% for locale in locales %}
                <pattern id="L_{{ locale.locale }}" patternUnits="userSpaceOnUse" width="{{ locale.grid.width_2 }}" height="{{ locale.grid.height_2 }}">
                    <image xlink:href="{{ MEDIA_URL }}{{ locale.image_file }}" x="0" y="0" width="{{ locale.grid.width_2 }}" height="{{ locale.grid.height_2 }}"/>
                </pattern>
                <pattern id="S_{{ locale.locale }}" patternUnits="userSpaceOnUse" width="{{ locale.grid.width_20 }}" height="{{ locale.grid.height_20 }}">
                    <image xlink:href="{{ MEDIA_URL }}{{ locale.image_file }}" x="0" y="0" width="{{ locale.grid.width_20 }}" height="{{ locale.grid.height_20 }}"/>
                </pattern>
            {% endfor %}
        </defs>
    </svg>
{% endblock %}
