{% extends "core/base.html" %}
{% load i18n static %}

{% block theme-css %}
{% endblock %}

{% block body-js %}
    <script>
        var ws = new WebSocket('{{ WEBSOCKET_URI }}foobar?subscribe-broadcast');
        ws.onopen = function() {
            console.log("websocket connected");
        };
        ws.onmessage = function(e) {
            console.log("Received: " + e.data);
        };
        ws.onerror = function(e) {
            console.error(e);
        };
        ws.onclose = function(e) {
            console.log("connection closed");
        }

    </script>
{% endblock %}


{% block body %}

    <p>Receiving</p>

{% endblock %}