.idea
.DS_store

*.pyc
*.db

development/docs/_build/
development/coverage/
development/profile/

*/settings/secrets.py
*/settings/setup.py

*.warc.gz
*.megawarc.warc.os.cdx
*.megawarc.warc.os.cdx.gz
nl-hyves*.html
