.idea
datascope.iml
.DS_store
dump.rdb

*.pyc
*.db
*.csv
db-dump.*.json
*.sql
*.pkl

datagrowth/docs/_build/

system/files/media/
system/files/static/

datascope/settings.py
datascope/bootstrap.py
datascope/secrets.py

*/data/

# Wikipedia labs specific file
app.py
