.idea
datascope.iml
.DS_store

*.pyc
*.db
*.csv
db-dump.*.json
*.sql
*.pkl

datagrowth/docs/_build/

datascope/settings.py
datascope/bootstrap.py
datascope/secrets.py
datascope/logs/
datascope/statics/

data/
