{% extends "base.html" %}
{% load i18n staticfiles %}

{% block head-js %}
    {{ block.super }}
    <script src="{% static "js/wikidata.js" %}"></script>
{% endblock %}

{% block body %}

    <div class="content-container">

            <div class="row-fluid">
                <div class="span12">
                    <h3>{% trans "People similar to:" %} {{ query }}</h3>
                    <p>Click the links to visit the Wikipedia pages of the people similar to {{ query }}</p>
                    <ul id="results-list">
                        {% for claimer in data %} {# data is the generic name for incoming information coming from the view #}
                            <li class="people-suggestions-result">
                                <span class="wait-message-Q{{ claimer.item }}">... loading please wait ... </span></br>
                                <a target="_blank" href="http://www.wikidata.org/wiki/Special:GoToLinkedPage?site=en&itemid=Q{{ claimer.item }}"><span class="Q{{ claimer.item }}">unknown name</span></a></br>
                                ({% for item in claimer.items %}<span class="Q{{ item }}">Q{{ item }}</span>{% if not forloop.last %}, {% endif %}{% endfor %} in common)
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

    </div>

{% endblock %}

{% block footer %}
    <p>{% trans "Search for a person known on Wikipedia to find people similar to this person." %}</p>
    {% include "components/search.html" %}
{% endblock %}

{% block body-js %}
    <script>
        $(function(){
            wikidata = new WikiData();

            // Load names
            var params = {
                max_depth: 0,
                loaded: function(q) {
                    $('.' + q).text(wikidata.getItem(q).getLabel('en'));
                    $('.wait-message-'+ q).hide();
                }
            };
            wikidata.loadItems([
                {% for claimer in data %}
                    {{ claimer.item }},
                    {% for item in claimer.items %}
                        {{ item }},
                    {% endfor %}
                {% endfor %}
            ], params);

            // Load common items
        });
    </script>
{% endblock %}
