/******************************
* FONTS
******************************/

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../fonts/ostrich-regular.eot');
    src: url('../fonts/ostrichsans-medium-webfont.woff2') format('woff2'),
    url('../fonts/ostrichsans-medium-webfont.woff') format('woff');
    url('../fonts/ostrich-regular.ttf') format('truetype'),
    url('../fonts/ostrich-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/******************************
* GENERIC
******************************/

html, body {
    font-family: Verdana, Arial, sans-serif;
    height: 100%;
    width: 100%;
    background: #F8F8F1;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

footer {
    padding: 20px 0;
}

h2 {
    color: #ff5050
}

/******************************
* BOOTSTRAP
******************************/

.navbar-default {
    background: #f8f8f1;
}
.navbar-default .navbar-brand {
    font-family: ostrich_sansmedium, verdana, serif;
    font-size: 34px;
    color:  #333
}
.navbar-default .navbar-brand:hover {
    color: #ff5050;
}
.navbar-default .navbar-nav>li>a {
    color: #333
}
.navbar-default .navbar-nav>li>a:hover,  .navbar-default .navbar-nav>li>a:focus {
    color: #ff5050;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}

.pad-section {
    padding: 50px 0;
}
.pad-section img {
    width: 100%;
}

.btn-primary {
    background-color: #ff5050;
    line-height: 40px;
    font-size: 20px;
    color: white
}
.form-control {
    height: 52px;
}

.btn-primary:hover {
    background-color: #ff5050;
}
.btn-primary.subscribe {
    margin-top: 10px;
}


/******************************
* NAVIGATION
******************************/

.language-switch {
    margin: 9px;
    border: 1px solid #F8F8F1;
    border-radius: 2px;
    width: 44px;
    height: 32px;
    background-position: 50% 50%;
    background-size: cover;
}

.nl .language-switch {
    background-image: url("../images/en.svg");
}
.en .language-switch {
    background-image: url("../images/nl.svg");
}

.language-switch.desktop {
    margin-left: 15px;
    margin-right: 15px;
}

.language-switch.mobile {
    display: None;
    float: right;
    margin-right: 12px;
}

@media (max-width:767px) {

    .language-switch.mobile {
        display: block;
    }
    .language-switch.desktop {
        display: none;
    }

}


/******************************
* HOME
******************************/

#home {
    background: url(../images/vintage-1.jpg) no-repeat fixed center center ;
    display: table;
    height: 88%;
    position: relative;
    width: 100%;
    text-align: center;
    background-size: cover;
}

@media (max-width:767px) {

    #home {
        background: url(../images/vintage-1-mobile.jpg) no-repeat center center;
        background-size: cover;
    }

}

#home h1 {
    font-family: ostrich_sansmedium, verdana, serif;
    font-size: 7em;

    margin: 0;
    padding: 0;
    color: #F8F8F1;
}
#home h3 {
    display: none;  /* TODO: needs to be removed */

    color: #F8F8F1;
    font-weight: bold;
    font-size: 30px;
    text-shadow:
            -1px -1px 0 #333,
            1px -1px 0 #333,
            -1px 1px 0 #333,
            1px 1px 0 #333;
}

#home .home-text {
    padding-top: 150px;
}

@media (max-width:767px) {

    #home h1 {
        font-size: 4em;
    }

}

/******************************
* ABOUT
******************************/

@media (min-width:768px) {
    #about h2 {
        margin-top: 0;
    }
}

/******************************
* TEAM
******************************/

#team h2 {
    margin-top: 0;
    color: #333;
    text-align: center;
}

#team-members {
    background : linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(123, 206, 211, 1) 21.22%, rgba(102, 182, 214, 1) 34.41%, rgba(84, 162, 217, 1) 48.19%, rgba(65, 104, 178, 1) 69.3%, rgba(103, 109, 169, 1) 76.83%, rgba(162, 116, 155, 1) 87.52%, rgba(167, 121, 158, 1) 89.71%, rgba(181, 136, 168, 1) 92.41%, rgba(203, 161, 183, 1) 95.38%, rgba(235, 196, 204, 1) 98.52%, rgba(252, 215, 216, 1) 100%);
}

#team-members a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}
#team-members a:visited {
    color: white;
}
#team-members a:hover {
    text-decoration: none;
}

#team-members .glyphicon {
    border: 2px solid #F8F8F1;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}

.cfo {
    background: url(../images/fransje.png) no-repeat center center
}
.cdo {
    background: url(../images/gaspard.png) no-repeat center center
}
.cto {
    background: url(../images/fako.png) no-repeat center center
}

/* retina screens */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .cfo {
        background: url(../images/fransje.png) no-repeat center center;
    }
    .cdo {
        background: url(../images/gaspard.png) no-repeat center center
    }
    .cto {
        background: url(../images/fako.png) no-repeat center center
    }

    .glyphicon {
        background-size: 140px 140px;
    }

}

@media (max-width:767px) {

    .team-pictures div:last-child {
        clear: both;
        float: none;
        margin: 0 auto;
        padding-top: 20px;
    }

}

/******************************
* INFORMATION
******************************/

#information {
    background: url(../images/vintage-2.jpg) no-repeat fixed center center;
    display: table;
    height: 400px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#information .panel {
    opacity: 0.85;
}

@media (max-width:767px) {

    #information {
        background: url(../images/vintage-2.jpg) no-repeat center center;
    }

}


/******************************
* CONTACT
******************************/

#contact {
    background-color: #f8f8f1;
    color: #333;
}

#contact-icons {
    background : linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(123, 206, 211, 1) 21.22%, rgba(102, 182, 214, 1) 34.41%, rgba(84, 162, 217, 1) 48.19%, rgba(65, 104, 178, 1) 69.3%, rgba(103, 109, 169, 1) 76.83%, rgba(162, 116, 155, 1) 87.52%, rgba(167, 121, 158, 1) 89.71%, rgba(181, 136, 168, 1) 92.41%, rgba(203, 161, 183, 1) 95.38%, rgba(235, 196, 204, 1) 98.52%, rgba(252, 215, 216, 1) 100%);
}

#contact-icons .social {
    margin: 10px;
}
#contact-icons .social p {
    display: inline-block;
    margin-right: 15px;
}
#contact-icons .social a {
    color: #F8F8F1;
}
#contact-icons .social a:visited {
    color: #F8F8F1;
}

/******************************
* SUBSCRIBE
******************************/

#subscribe-form .caret {
    position: relative;
    z-index: 10;
    float: right;
    margin-right: 5px;
    margin-top: -27px;
}

#subscribe-form select {
    -webkit-appearance: none;
}

form {
    color: #333;
    font-weight: 300;
}

#gdpr_33785, label[for=gdpr_33785] {
    display: block;
    float: left;
}
#gdpr_33785 {
    max-width: 5%;
    margin: 2%;
    box-shadow: none;
}
label[for=gdpr_33785] {
    max-width: 90%;
}

.av-checkbox.form-control {
    height: 20px;
}
