#words {
    background-color: red;
}

#arrows {
    background-color: purple;
}
#arrows button {
    display: block;
    margin: 0 auto;
}

#zoom {
    background-color: #ffff00;
}


