#words {
    background-color: red;
}

#arrows {
    background-color: purple;  /* test */
}
#arrows button {
    display: block;
    margin: 0 auto;
}

#zoom {
    background-color: #ffff00;
}
#zoom-component {
    margin: 0 auto;
}


