#knob-component, #arrows-component {
    position: relative;
    width: 500px;
	height: 500px;
	margin: 0 auto;
}

#control {
	width:320px;
	height:320px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-160px 0 0 -160px;
}

.knobLabel, .arrow{
	width: 200px;
    text-align: center;
	height: 46px;
    font-size: 36px;
	position: absolute;
    color: lightgray;
    z-index: 15;
}

.knobLabel.active {
	color: black;
}

.knob{
	width: 320px;
	height: 320px;
	position: relative;
}

.knob .top{
	position: absolute;
	top: 0;
	left: 0;
	width: 320px;
	height: 320px;
	z-index: 10;
	cursor: default !important;
}

.knob .top:after{
	content: '';
    position: absolute;
	width: 72px;
	height: 150px;
	top: 25%;
	left: 50px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.knob [draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}