/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/bg.jpg') #1f2129;
	position:relative;
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section, footer{
	display: block;
}

#main{
	width:500px;
	height:200px;
	margin:0 auto;
	padding-top:200px;
}


/*----------------------------
	Color Bars
-----------------------------*/


#bars{
	height: 212px;
	margin: 0 auto;
	position: relative;
	width: 228px;
}

#control{
	width:90px;
	height:90px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-45px 0 0 -45px;
}

.colorBar{
	width:20px;
	height:8px;
	position:absolute;
	opacity:0;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}

.colorBar.active{
	opacity:1;
}


/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
