{% extends "core/base.html" %}
{% load i18n %}

{% block theme-css %}{% endblock %}

{% block body %}

    <div class="container">
        {% for page in response.results %}
            <div class="row">
                <h4>
                    <a href="https://en.wikipedia.org/wiki/{{ page.title }}">{{ page.title }}</a>
                    (<a href="https://www.wikidata.org/wiki/{{ page.wikidata.wikidata }}">{{ page.wikidata.wikidata }}</a>)
                </h4>
            </div>
            <div class="row">
                <div class="col-md-10">{{ page.wikidata.description }}</div>
                <div class="col-md-2"><img src="{{ page.commons_image }}" style="width: 100%"/></div>
            </div>
            <div class="row">
                <ul>
                    {% for module, rank_info in page.ds_rank.items %}
                        {% if module != "rank" %}
                            <li>Score by "{{ module }}" module = {{ rank_info.value }} * {{ rank_info.weight }} = {{ rank_info.rank }}</li>
                        {% endif %}
                    {% endfor %}
                    <li>Total score: {{ page.ds_rank.rank }}</li>
                </ul>
            </div>
            <hr/>
        {% endfor %}
    </div>

{% endblock %}
