{% extends "base.html" %}
{% load hif_tags %}

{% block header %}
    <p>{% trans "Search for a single word and see the canonical images for that word in five different languages." %}</p>
    {% include "components/search.html" %}
{% endblock %}

{% block body %}

    <div class="content-container">

        {% for language in data %} {# data is the generic name for incoming information coming from the view #}

            <div class="row-fluid">
                <div class="span12"><h2>{{ language.language }}</h2></div>
            </div>

            <div class="row-fluid">
                {% for translation in language.translations %}
                    <div class="{{ language.translations|span }}">

                        <h3>{{ translation.word }}</h3>
                        {% for image in translation.images %}
                            <p><img src="{{ image.thumbnailLink }}"/></p>
                        {% endfor %}

                    </div>
                {% endfor %}
            </div>

        {% endfor %}

    </div>

{% endblock %}