<div class="central-box-outer" ng-style="kioskStyle" ng-class="sizeClass">
    <div class="central-box-inner">
        <div class="central-box-content">
            <div class="mis-fit-text">
                <h2>Adjusting screen size</h2>
                <p>
                    Adjust the screen to the size you want.
                    Stop adjusting and your results will show in a second.
                </p>
            </div>
            <div class="no-fit-text">
                <h2>Screen to small</h2>
                <p>
                    To show you the results we need a screen that is at least {{ minimalWidth }} x {{ minimalHeight }}.
                    Please enlarge your screen.
                    This message will disappear when your screen is big enough.
                </p>
            </div>
            <div class="fit-text">
                <h2>Perfect!</h2>
                <p>Your screen has an optimal ratio between width and height for this website.</p>
            </div>
        </div>
    </div>
</div>
