<div class="central-box-outer">
    <div class="central-box-inner">
        <div class="central-box-content">
            <progress max="{{ maxProgress }}" value="{{ progress }}"></progress>
            <p>
                We're fetching the translations of the word you enter from the Chinese, Russian and Portuguese <u>Wikipedia</u> websites.
                When that is done we feed all the words that come out of that translation into <u>Google Image</u> search.
                All the images that come out of that will be shown here.
            </p>
            <p>Please wait for the translation process to finish.</p>
        </div>
    </div>
</div>
