{% extends "base.html" %}
{% load i18n %}


{% block body %}
    {% get_available_languages as languages %}
    {% get_language_info for LANGUAGE_CODE as language_info %}

    <p>{% trans "No results found for" %} {{ language_info.name_local }}. {% trans "Did you mean to search in another language" %}?</p>
    <ul>
        {% for lang_code, lang_name in languages %}
            {% if language_info.code != lang_code %}
                {% language lang_code %}
                    <li><a href="{% url self_reverse %}?q={{ query }}">{{ lang_name }}</a></li>
                {% endlanguage %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
    <p>{% trans "Or search again for another word." %}</p>
    {% include "components/search.html" %}
{% endblock %}