body {
    padding: 10px 0 0;
    text-align: center;
}
#search-container input {
    margin: 0;
    height: 30px;
}
form {
    margin: 0;
}
#results-list {
    list-style: none;
    margin-bottom: 40px;
}
.people-suggestions-result {
    margin-bottom: 15px;
}
