{% extends "base.html" %}
{% load i18n %}

{% block body-js %}
    <script type="text/javascript">
        $(function pollService() {

            var uri = new URI(location);
            var service = '/' + uri.segment(0) + '/';

            $.getJSON(service, uri.search(true), function (data, textStatus, jqXHR) {

                if (jqXHR.status === 202) {
                    $('#wait-text').append('.');
                    setTimeout(pollService, 800);
                } else {
                    location = location;
                }
            });

        });
        
        $(function handleAjaxErrors() {

            $(document).ajaxError(function( event, jqxhr, settings, thrownError ) {
                location = location;
            });

        })
    </script>
{% endblock %}

{% block body %}
    <p id="wait-text">{% trans "Your query is being processed. Please wait." %}</p>
{% endblock %}