<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href={{ app.get_app_static('favicon.ico') }}>
    <title>Loading ...</title>

    <meta property="og:title" content="{{ app.title }}"/>
    <meta property="og:description" content="{{ app.description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ app.build_absolute_uri() }}"/>
    <meta property="og:image" content="{{ app.static_image_absolute_uri() }}">
    <meta property="og:locale" content="{{ app.locale }}"/>

    <style>/* weird hack, these styles are not accepted within a style block of a component */
        textarea,
        input.text,
        input[type="text"],
        input[type="button"],
        input[type="submit"],
        .input-checkbox {
            -webkit-appearance: none;
        }
    </style>

    <script>
        var STATICS_PREFIX = "{{ STATICS_PREFIX }}";
    </script>

    {{ render_bundle('app', 'css', config=BUNDLE) }}

</head>
<body>
    <noscript>
        <strong>
            We're sorry but src doesn't work properly without JavaScript enabled. Please enable it to continue.
        </strong>
    </noscript>
    <div id=app></div>
    <script>
        var $buoop = {required:{e:75,f:10,o:-3,s:-3,c:5},insecure:false,api:2020.06 };
        function $buo_f(){
            var e = document.createElement("script");
            e.src = STATICS_PREFIX + "browser-update.min.js";
            document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <!-- Google tag (gtag.js) -->
    {% if app.tracker %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ app.tracker }}"></script>
    {% endif %}
    <script>
        var hasTracker = {% if app.tracker %}true{% else %}false{% endif %};
        if(window.location.hostname !== 'localhost' && hasTracker) {
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '{{ app.tracker }}');
        } else {
            gtag = function() {}
        }
        // Add backward compatability for legacy Google Analytics that builds still use
        ga = function() {}
    </script>
    <!-- End Google tag -->

    {{ render_bundle('app', 'js', config=BUNDLE) }}

</body>
</html>
